.containerForm {
    background-color: rgb(0, 0, 0, .89);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90.5%;
    height: 90.5vh;
    z-index: 12423432;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divIzqSup {
    width: 69px;
    height: 67px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    top: 33px;
    right: 90.8%;
}

.divIzqInf {
    width: 72px;
    height: 70px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    bottom: 33px;
    right: 90.6%;
}

.divDerSup {
    width: 72px;
    height: 70px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    left: 90.6%;
    top: 33px;
}

.divDerInf {
    width: 68px;
    height: 67px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    bottom: 33px;
    left: 90.8%;
}

.formSup {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.formInf {
    width: 100%;
}

.textLabel {
    color: rgb(0, 204, 255);
    font-size: 20px;
}

.inputSup {
    width: 250px;
    height: 20px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(0, 204, 255);
    color: rgb(0, 204, 255);
    text-align: center;
}

.inputSup::placeholder {
    color: rgb(0, 204, 255);
}

.columLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowLabel {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textAreaCreate {
    width: 35%;
    height: 20vh;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(0, 204, 255);
    color: rgb(0, 204, 255);
}

.textAreaCreate::placeholder {
    color: rgb(0, 204, 255);
}

.btnCrear {
    position: absolute;
    bottom: 40px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
    background-color: transparent;
    transition: 1s background-color, 250ms color, 250ms border;
    cursor: pointer;
}

.btnCrear:hover {
    color: #000;
    background-color: rgb(0, 204, 255);
    border: 1px solid transparent;
}

.selectCrear {
    width: 220px;
    text-align: center;
    cursor: pointer;
    outline: none;
    height: 20px;
    border: 1px solid rgb(0, 204, 255);
    background-color: transparent;
    color: rgb(0, 204, 255);
}

.selectCrear:hover {
    background-color: rgb(0, 204, 255);
    color: #000;
}

.containerSelecciones {
    display: flex;
    flex-wrap: wrap;
}

.containerSeleccion {
    margin-top: 10px;
    width: 600px;
    height: auto;
    background-color: transparent;
    border: 1px solid rgb(0, 204, 255);
    border-radius: 5px;
}

.containerSelecPlat {
    margin: 5px;
    width: 130px;
    height: 22px;
    border: 1px solid rgb(0, 204, 255);
    display: flex;
    justify-content: space-between;
}

.btnSelecPlat {
    color: rgb(0, 204, 255);
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 204, 255);
    background-color: transparent;
}

.textSelecPlat {
    color: rgb(0, 204, 255);
}

.containerTextNo {
    display: flex;
    justify-content: center;
}

.textGenNo {
    color: rgb(0, 204, 255);
}

.containRequired {
    position: absolute;
    z-index: 2342345432523;
    bottom: 40px;
    left: 100px;
}

.pRequired {
    color: red;
    font-size: 20px;
}

.botonAnteriorCreate {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 0;
    cursor: pointer;
}

.optionCrear {
    background-color: #000;
    border: 1px solid rgb(0, 204, 255);
    color: rgb(0, 204, 255);
}