* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
}

.containerGameUniGlo {
    min-width: 100vw;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.anteriorDetail {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.containerGameUni {
    z-index: 23245234320;
    box-sizing: border-box;
    width: 90.5%;
    height: 90.5vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3Contain {
    display: flex;
    justify-content: center;
}

.imgJuego {
    width: 600px;
    height: auto;
    margin-left: 5px;
    border-radius: 5px;
}

.imgNot {
    width: 600px;
    height: 400px;
    margin-left: 5px;
    border-radius: 5px;
}

.divIzqImg {
    margin-right: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divIzqImg h3 {
    color: #fff;
    z-index: 423523423432432;
    font-size: 16px;
    border-bottom: 1px solid rgb(0, 204, 255);
    margin-left: 40px;
}

.containerRaRe {
    display: flex;
    margin-top: 70px;
}

.tituloGen {
    color: #fff;
    font-size: 18px;
}

.h3Titulo {
    color: #fff;
    border-bottom: 3px solid rgb(0, 204, 255);
    margin-bottom: 20px;
    font-size: 25px;
}

.divDerText {
    margin-right: 10px;
}

.h5Descrip {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.pDescrip {
    color: #fff;
    font-size: 12px;
}

.tituloDes {
    color: #fff;
    border-bottom: 1px solid rgb(0, 204, 255);
    font-size: 14px;
}

.containerGeneros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 204, 255);
    margin: 20px 0px;
}

.containerPlat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-bottom: 1px solid rgb(0, 204, 255);
}

.containerDescrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:1024px) {
    .containerGameUniGlo {
        height: 130vh;
        align-items: flex-start;
        width: 100vw;
    }

    .containerGameUni {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .divIzqImg {
        margin: 0;
    }
}

@media(max-width:425px) {
    .containerGameUni {
        height: 120vh;
    }

    .divDerText {
        margin: 0;
    }

    .pDescrip {
        text-align: center;
    }

    .h5Descrip {
        font-size: 10px;
    }

    .containerRaRe {
        margin-top: 20px;
    }

    .imgJuego {
        width: 100%;
        margin: 0;
    }

    .containerGameUniGlo {
        height: auto;
    }
}

@media(max-width:375px) {
    .imgJuego {
        width: 375px;
    }
}

@media(max-width:325px) {
    .imgJuego {
        width: 325px;
    }
}