* {
    margin: 0px;
    padding: 0px;
}

.divIzqSup {
    width: 67px;
    height: 67px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    top: 33px;
    right: 90.6%;
}

.divIzqInf {
    width: 70px;
    height: 70px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    bottom: 33px;
    right: 90.6%;
}

.divDerSup {
    width: 70px;
    height: 70px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    left: 90.6%;
    top: 33px;
}

.divDerInf {
    width: 67px;
    height: 67px;
    background-color: rgb(0, 204, 255);
    position: absolute;
    bottom: 33px;
    left: 90.8%;
}

.containerGameUniGlo {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.anteriorDetail {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.containerGameUni {
    z-index: 23245234320;
    box-sizing: border-box;
    width: 90.5%;
    height: 90.5vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3Contain {
    display: flex;
    justify-content: center;
}

.imgJuego {
    width: 600px;
    height: auto;
    margin-left: 5px;
    border-radius: 5px;
}

.divIzqImg {
    margin-right: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divIzqImg h3 {
    color: #fff;
    z-index: 423523423432432;
    font-size: 16px;
    border-bottom: 1px solid rgb(0, 204, 255);
    margin-left: 40px;
}

.containerRaRe {
    display: flex;
    margin-top: 70px;
}

.tituloGen {
    color: #fff;
    font-size: 18px;
}

.h3Titulo {
    color: #fff;
    border-bottom: 3px solid rgb(0, 204, 255);
    margin-bottom: 20px;
    font-size: 30px;
}

.divDerText {
    margin-right: 10px;
}

.h5Descrip {
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}

.pDescrip {
    color: #fff;
    font-size: 16px;
}

.tituloDes {
    color: #fff;
    border-bottom: 1px solid rgb(0, 204, 255);
    font-size: 22px;
}

.containerGeneros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 204, 255);
    margin: 20px 0px;
}

.containerPlat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-bottom: 1px solid rgb(0, 204, 255);
}

.containerDescrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}