.containerDivImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divImgLad {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.imgLad {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    animation: mover ease 2.5s;
}

@keyframes mover {
    from {
        filter: opacity(10%);
    }

    to {
        filter: opacity(100%);
    }
}

.botonLad {
    width: 300px;
    height: 45px;
    bottom: 150px;
    right: 150px;
    font-size: 22px;
    color: #fff;
    border: 1px solid rgb(0, 204, 255);
    background-color: transparent;
    position: absolute;
    z-index: 99999999;
    cursor: pointer;
    border-radius: 20px;
    animation: moverAlRevez ease 2.5s;
    transition: 1s background-color, 250ms color, 250ms border;
}

.botonLad:hover {
    background-color: rgb(0, 204, 255);
    border: 1px solid #000;
    color: #000;
}

@keyframes moverAlRevez {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0px);
    }
}

/* linear-gradient(to left, rgb(18, 18, 18), rgb(70, 70, 70)) */
.containerMovi {
    position: absolute;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 89%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 160px;
    z-index: 325234523432432453334543543;
    top: 20px;
}

.tituloLad {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 120px;
    top: 20px;
    font-size: 40px;
    border-bottom: 1px solid rgb(0, 204, 255);
    animation: moverAlRevez ease 2.5s;
    transition: 1s all;
    z-index: 99998;
}

.nombreLad {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 120px;
    top: 85px;
    font-size: 27px;
    border-bottom: 1px solid rgb(0, 204, 255);
    animation: moverAlRevez ease 2.5s;
    transition: 1s all;
    z-index: 99998;
}

.tituloLad:hover {
    color: rgb(0, 204, 255)
}

.nombreLad:hover {
    color: rgb(0, 204, 255)
}